@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------Body----------*/
body {
    font-family: 'Poppins', sans-serif;
}
/*----------Body----------*/F





/*----------Header----------*/
h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 { 
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    color: #d8d8d8;
}
/*----------Header----------*/

/*----------Footer----------*/
footer{
    background-color: #222222;
}

footer h5{
    color: #d8d8d8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer {
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: #999;
}

footer li a:hover{
    color: #d8d8d8;
}

footer p{
    color: #999;
    font-size: 0.8rem;
}

footer i{
    color: #999;
    font-size: 1.5rem;
    padding-bottom: 4px;
    padding-top: 4px;
}

footer i:hover{
    color: #fb774b;
    font-size: 1.7rem;
}

footer .copyright .a .p{
    color: #999;
    text-align: center;
}
/*----------Footer----------*/

/*----------Button----------*/
button {
    font-size:  0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background: #3a3833;
}
/*----------Button----------*/


/*----------NavigationBar----------*/
.navbar {
    font-size: 20px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
    color: coral;
}
/*----------NavigationBar----------*/

/*----------Mobile NaviagtionBar----------*/
#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}
#bar:hover,
#bar.active {
    color: #fff;
}
.navbar-light .navbar-toggler{
    outline: none;
    border: none;
}
@media only screen and (max-width: 991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: #fb774b;
    }
    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        background-color: #fb774b;
    }
    #navbarSupportedContent>ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
    #navbarSupportedContent> ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
}
/*----------Mobile NaviagtionBar----------*/

/*----------Home----------*/

/*----------Home----------*/

/*---Section 1---*/
#home span{
    color: coral;
}
#home{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#home button{
    background-color: #1d1d1d;
    border-radius: 5%;
}
#home button:hover{
    background-color: #fb774b;
    border-radius: 5%;
}
/*---Section 1---*/




#banner {
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: top 60px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h1{
    color: #d8d8d8;
}
#banner h4{
    color: #d8d8d8;
}

#banner button{
    background-color: #fb774b;
    border-radius: 5%;
}

.base-block{
    height: 80px;
}
