

{% extends "base.html" %} 


{% block css %} 

<link rel="stylesheet" href="{{ url_for('static', filename='css/shop-item-preview.css') }}">

{% endblock %} 




{% block title %}Shop{% endblock %} 



{% block navigation_bar %}



<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">

    <!--Container-->
    <div class="container">

        <!--Navigation_Logo-->
       
        <img src="{{url_for('static', filename = 'other_resources/logo.png') }}" alt="">

        <!--NavigationBar_Responsive-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!--Nav_Home-->
                <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('views.home')}}">Home</a>
                </li>

                <!--Nav_Shop-->
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('views.shop')}}" >Shop</a>
                </li>


                {% if current_user.is_authenticated %}

                <li class="nav-item">
                    <a style="color: black;" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false">

                            <i class="fa-solid fa-user"></i>

                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/admin">{{ current_user.fullname }}</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                
                {% else %}

                <li class="nav-item">
                    <a style="color: black;" href="{{url_for('auth.login')}}">Login</a>
                </li>

                <li class="nav-item">
                    <a style="color: black;" href="{{url_for('auth.sign_up')}}">Register</a>
                </li>

                {% endif %}
       
                
            </ul>

        </div>
    </div>
</nav>

  
{% endblock %} 


{% block content%}


<section class="container sproduct my-5 pt-5">
    <div class="row mt-5">
        <div class="col-lg-4 col-md-4 col-12">
            <img src="/static/uploads/{{product.image1}}"  class="big-img-col mg-fluid w-100 pb-1"  id="MainImg" alt="">
          

            <div class="small-img-group pt-1">
                <div class="small-img-col ">
                    <img src="/static/uploads/{{product.image1}}" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col ">
                    <img src="/static/uploads/{{product.image2}}" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col ">
                    <img src="/static/uploads/{{product.image3}}" width="100%"  class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="/static/uploads/{{product.image4}}" width="100%" class="small-img" alt="">
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-12">
            <a href="../Ecommerce-Pages/shopping.html"><h6>Back / Shop</h6></a>
            <h3> {{product.product_name}} </h3>
            <h2>₱{{product.product_price}}</h2>

            <button>Add to Cart</button>
            <h4 class="pt-3">Product Details</h4>
            <span>I{{product.product_description}}</span>
        </div>
    </div>
</section>


{% endblock %}





{% block Javascript %}

<script src="{{ url_for('static', filename='javascript/shop-item-preview.js') }}"></script>

{% endblock %}