{% extends "base.html" %} 

{% block title %}Admin{% endblock %} 


{% block css %} 

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_home.css') }}">

{% endblock %} 


{% block navigation_bar %}


<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">

    <!--Container-->
    <div class="container">

        <!--Navigation_Logo-->
        <img src="{{url_for('static', filename = 'other_resources/logo.png') }}" alt="">

        <!--NavigationBar_Responsive-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!--Nav_Home-->
                <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('views.admin')}}"><i class='fa fa-desktop'></i> Dashboard</a>
                </li>


                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false">

                            <i class="fas fa-socks"></i> Product

                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{{url_for('views.admin_products')}}">Product Table</a></li>
                            <li><a class="dropdown-item" href="{{url_for('views.add_product')}}">Add New Product</a></li>
                        </ul>
                        
                    </li>
                </ul>

                <!--Nav_Shop-->
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('views.admin_orders')}}" ><i class='fas fa-shopping-cart'></i> Order</a>
                </li>



                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false">

                            <i class="fa-solid fa-user"></i>

                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                
                
                
            </ul>

        </div>
    </div>
</nav>



{% endblock %} 


{% block content%}



<section class="mt-5 ">
    <div class="container mt-4 py-1 ">

        <div class="row mt-2 py-1" >
            <!--Section 1-->
            
            <div class="col-lg-8">
    
                <!--Add Cart Icon-->
                <h1 class="text-center">
                    <img width="500px" src="{{url_for('static', filename = 'other_resources/admin_home.png') }}" alt="">
                </h1>
                
                <h4 class="py-5 text-center">
                    
                    <p>""---John Denver Asi---""      
                   
                        <a href="https://www.facebook.com/johnasii01"><i style="font-size:30px" class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://www.instagram.com/john_asii/"><i style="font-size:30px" class="fa-brands fa-instagram"></i></a>
                        <a href="https://github.com/dambear"><i style="font-size:30px" class="fa-brands fa-square-github"></i></a>
                    
                    </p>
                    <p>""---Jayven Arellano---""       
                   
                        <a href="https://www.facebook.com/ArellanoJayven"><i style="font-size:30px" class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://www.instagram.com/jayven_02/"><i style="font-size:30px" class="fa-brands fa-instagram"></i></a>
                        <a href="https://github.com/Jayvenarellano"><i style="font-size:30px" class="fa-brands fa-square-github"></i></a>
                    
                    </p>
                    <p>""---Jerald Banalan---""             
                   
                        <a href="https://www.facebook.com/Jbanalan10"><i style="font-size:30px" class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://www.instagram.com/jayven_02/"><i style="font-size:30px" class="fa-brands fa-instagram"></i></a>
                        <a href="https://github.com/Jayvenarellano"><i style="font-size:30px" class="fa-brands fa-square-github"></i></a>
                    
                    </p>
                    <p>""---Maher Calingansan---""       
                   
                        <a href="https://www.facebook.com/mahermiel.calingasan.21"><i style="font-size:30px" class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://www.instagram.com/mm_calingasan/"><i style="font-size:30px" class="fa-brands fa-instagram"></i></a>
                        <a href="https://github.com/MaherMiel"><i style="font-size:30px" class="fa-brands fa-square-github"></i></a>
                    
                    </p>
                    <p>""---Mark Meriel Delgado---""      
                   
                        <a href="https://www.facebook.com/ArellanoJayven"><i style="font-size:30px" class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://www.instagram.com/jayven_02/"><i style="font-size:30px" class="fa-brands fa-instagram"></i></a>
                        <a href="https://github.com/Jayvenarellano"><i style="font-size:30px" class="fa-brands fa-square-github"></i></a>
                    
                    </p>
                </h4>


                
      
                <div class="row">
                            
                      
                    

                </div>
            

            </div>
            <!--Section 1-->
    
            <!--Section 2-->
            <div class="col-lg-4 py-5 text-center">
                <h3><i class='fa fa-desktop'></i> Dashboard</h3>
    
                    </br>
                    <h4>Product Table</h4>

                    <a href="{{url_for('views.admin_products')}}">

                        <button class="table-button">
                            Go to Product Table
                        </button>

                    </a>
                        
                    
                    </br>    
                    </br>   
                
        
                    <h4>Order Table</h4>

                    <a href="{{url_for('views.admin_orders')}}">

                        <button class="table-button">
                            Go to Order Table
                        </button>

                    </a>
                    
    
                    
    
                    
            </div>
            <!--Section 2-->
        </div>

    </div>
</section>

{% endblock %}