{% extends "base.html" %} 

{% block title %}Admin{% endblock %} 


{% block navigation_bar %}


<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">

    <!--Container-->
    <div class="container">

        <!--Navigation_Logo-->
        <img src="{{url_for('static', filename = 'other_resources/logo.png') }}" alt="">

        <!--NavigationBar_Responsive-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!--Nav_Home-->
                <li class="nav-item">
                    <a class="nav-link active" href="views.admin"><i class='fas fa-bullhorn'></i> Dashboard</a>
                </li>


                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false">

                            <i class='fas fa-shopping-basket'></i> Product

                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="admin/product-table">Product Table</a></li>
                            <li><a class="dropdown-item" href="admin/products/new/">Add New Product</a></li>
                        </ul>
                        
                    </li>
                </ul>

                <!--Nav_Shop-->
                <li class="nav-item">
                    <a class="nav-link" href="" ><i class='fas fa-shopping-cart'></i> Order</a>
                </li>



                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false">

                            <i class="fa-solid fa-user"></i>

                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                
                
                
            </ul>

        </div>
    </div>
</nav>



{% endblock %} 


{% block content%}

    
<div class="container sigup-container shadow-lg p-3 mb-5 bg-body rounded"  >
    
    <form class="form-signup" method="POST">

        <h2>LOGIN</h2>

        <div class="mb-3">
            <label class="form-label">Email Address</label>
            <input 
            type="email" 
            class="form-control" 
            id="email" 
            name="email"
            placeholder="Ex. johndoe@example.com"
            required>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password"
            placeholder=""
            required>
        </div>

        
        <br>

        <div class="mb-3 text-center">
            <input type="submit" class="btn btn-primary" value="Login">
        </div>

        <div class="mb-3 text-center">
            <label class="form-label">Dont Have Account? <a href="#">Sign-up</a> </label>
        </div>

    </form>
</div>    


{% endblock %}