{% extends "base.html" %} 

{% block title %}Admin{% endblock %} 


{% block css %} 

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-product-table.css') }}">

{% endblock %} 


{% block navigation_bar %}


<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">

    <!--Container-->
    <div class="container">

        <!--Navigation_Logo-->
        <img src="{{url_for('static', filename = 'other_resources/logo.png') }}" alt="">

        <!--NavigationBar_Responsive-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!--Nav_Home-->
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('views.admin')}}"><i class='fa fa-desktop'></i> Dashboard</a>
                </li>


                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false">

                            <i class="fas fa-socks"></i> Product

                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark ">
                            <li><a class="dropdown-item" href="product-table">Product Table</a></li>
                            <li><a class="dropdown-item" href="products/new/">Add New Product</a></li>
                        </ul>
                        
                    </li>
                </ul>

                <!--Nav_Shop-->
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('views.admin_orders')}}" ><i class='fas fa-shopping-cart'></i> Order</a>
                </li>



                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false">

                            <i class="fa-solid fa-user"></i>

                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                
                
                
            </ul>

        </div>
    </div>
</nav>



{% endblock %} 


{% block content%}

<div>

    <div class="container product-container shadow-lg p-3 mb-5 bg-body rounded"  >
        
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-socks"></i> All Products</h2>
            <a href="/admin/products/new" class="btn btn-outline-dark">
                Add New Product
            </a>
        </div>
        
        <table class="text-center table table table-bordered rounded border-dark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
        
            <tbody class="table-group-divider">
                {% for product in products %}
                <tr>
                    <td>{{product.id}}</td>
                    <td><a class="link-light">{{ product.product_name }}</a></td>
                    <td><img src="/static/uploads/{{ product.image1 }}" width="100px" height="100px"></td>
                    <td>₱{{ product.product_price }}</td>
                    <td>{{ product.product_category }}</td>
                    <td>{{ product.product_quantity }}</td>
                    <td>
                        <a href="/products/{{ product.id }}" target="_blank" class="btn btn-sm btn-outline-dark"><i
                                class="fas fa-up-right-from-square"></i></a>
                        <a href="/admin/products/{{ product.id }}/edit" class="btn btn-sm btn-outline-warning"><i
                                class="fas fa-pen"></i></a>
                        <a class="btn btn-sm btn-outline-danger" onclick="delProduct('{{ product.id }}')">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>



    </div>

</div>



<script>
    function delProduct(id) {
        if (confirm('Are you sure you want to delete this product?')) {
            fetch(`/admin/products/${Number(id)}/delete`, {
                method: 'POST'
            }).then(res => {
                console.log(res)
                if (res.status === 200) {
                    window.location.reload()
                }
            })
        }
    }
</script>


{% endblock %}