{% extends "base.html" %} 

{% block title %}Home{% endblock %} 


{% block content%}
    

<!--SECTION_1-->
<section id="home">
    <div class="container">
        <h5>NEW SHOES ARRIVAL</h5>
        <h1><span>Best Selling</span> Brand Shoes</h1>
        <p>"It doesn’t matter how great your shoes are <br> if you don"t accomplish anything in them.”</p>
        <button>Shop Now</button>
    </div>
</section>


<!--SECTION_2-->
<section id="featured" class="my-5 pb-5">
    <div class="container text-center mt-5 py-5">
        <h3>Our featured</h3>
        <hr>
        <p>Here you can check out our new products with fair price</p>
    </div>

    <!--ROW_1-->
    <div class="row mx-auto container-fluid" py-2>

        <!--Jordan 1 low New Beginnings-->
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="image/shoes/1.png" alt="">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">Jordan 1 low New Beginnings</h5>
            <h4 class="p-price">₱ 5,000</h4>
            <button class="buy-button">Buy now</button>
        </div>

        <!--Jordan 1 Low UNC-->
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="image/shoes/2.png" alt="">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">Jordan 1 Low UNC</h5>
            <h4 class="p-price">₱ 5,000</h4>
            <button class="buy-button">Buy now</button>
        </div>

        <!--Jordan 1 Artic Pink-->
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="image/shoes/3.png" alt="">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">Jordan 1 Artic Pink</h5>
            <h4 class="p-price">₱ 5,000</h4>
            <button class="buy-button">Buy now</button>
        </div>

        <!--Jordan 1 low Pebbled Swoosh-->
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="image/shoes/4.png" alt="">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">Jordan 1 Low Pebbled Swoosh</h5>
            <h4 class="p-price">₱ 5,000</h4>
            <button class="buy-button">Buy now</button>
        </div>
 
    </div>

    <!--ROW_2-->
    <div class="row mx-auto container-fluid" py-2>

        <!--Nike Dunk Low SB Mummy-->
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="image/shoes/5.png" alt="">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">Nike Dunk Low SB Mummy</h5>
            <h4 class="p-price">₱ 5,000</h4>
            <button class="buy-button">Buy now</button>
        </div>

        <!--Jordan1 Low BlackToe-->
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="image/shoes/6.png" alt="">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">Jordan1 Low BlackToe</h5>
            <h4 class="p-price">₱ 5,000</h4>
            <button class="buy-button">Buy now</button>
        </div>

        <!--Jordan 4 Red Thunder -->
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="image/shoes/7.png" alt="">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">Jordan 4 Red Thunder </h5>
            <h4 class="p-price">₱ 5,000</h4>
            <button class="buy-button">Buy now</button>
        </div>

        <!--Jordan 1 Low OG Travis Scott-->
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="image/shoes/8.png" alt="">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">Jordan 1 Low OG Travis Scott</h5>
            <h4 class="p-price">₱ 5,000</h4>
            <button class="buy-button">Buy now</button>
        </div>
 
    </div>

    <!--ROW_3-->
    <div class="row mx-auto container-fluid" py-2>

        <!--Jordan1 High Retro Obsidian-->
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="image/shoes/9.png" alt="">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">Jordan 1 High Retro Obsidian</h5>
            <h4 class="p-price">₱ 5,000</h4>
            <button class="buy-button">Buy now</button>
        </div>

        <!--Jordan1 Low SBB-->
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="image/shoes/10.png" alt="">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">Jordan 1 Low SBB</h5>
            <h4 class="p-price">₱ 5,000</h4>
            <button class="buy-button">Buy now</button>
        </div>

        <!--Jordan 1 Low Reversed Banned -->
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="image/shoes/11.png" alt="">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">Jordan 1 Low Reversed Banned</h5>
            <h4 class="p-price">₱ 5,000</h4>
            <button class="buy-button">Buy now</button>
        </div>

        <!--Nike Dunk Low UNLV-->
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="image/shoes/12.png" alt="">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">Nike Dunk Low UNLV</h5>
            <h4 class="p-price">₱ 5,000</h4>
            <button class="buy-button">Buy now</button>
        </div>
 
    </div>

</section>

<!--SECTION_3-->
<section id="banner" class="my-5 py-5">
    <div class="container">
        <h4>MID SEASON'S SALE</h4>
        <h1>Autumn Collection<br> UP TO 20% OFF</h1>
        <button class="text-uppercase">Show Now</button>
    </div>
</section>




{% endblock %}