{% extends "base.html" %} 

{% block title %}Home{% endblock %} 


{% block content%}
    

<!--SECTION_1-->
<section id="home">
    <div class="container">
        <h5>NEW SHOES ARRIVAL</h5>
        <h1><span>Best Selling</span> Brand Shoes</h1>
        <p>"It doesn’t matter how great your shoes are <br> if you don"t accomplish anything in them.”</p>
        <button>Shop Now</button>
    </div>
</section>


<!--SECTION_2-->
<section id="featured" class="my-5 pb-5">
    <div class="container text-center mt-5 py-5">
        <h3>Our featured</h3>
        <hr>
        <p>Here you can check out our new products with fair price</p>
    </div>

    <!--ROW_1-->
    <div class="row mx-auto container-fluid" py-2>

        <!--Jordan 1 low New Beginnings-->

        {% for product in products %}
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3"src="{{ product.image }}" alt="{{product.name}}">
            <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="p-name">{{product.name}}</h5>
            <h4 class="p-price">{{product.price}}</h4>
            <button href="{{ product.id }}" class="buy-button">Buy now</button>
        </div>   
        {% endfor %}

</section>

<!--SECTION_3-->
<section id="banner" class="my-5 py-5">
    <div class="container">
        <h4>MID SEASON'S SALE</h4>
        <h1>Autumn Collection<br> UP TO 20% OFF</h1>
        <button class="text-uppercase">Show Now</button>
    </div>
</section>




{% endblock %}