{% extends "base.html" %} 

{% block title %}Sign-up{% endblock %} 



{% block css %} 

<link rel="stylesheet" href="{{ url_for('static', filename='css/login-signup.css') }}">

{% endblock %} 



{% block content%}

    
<div class="container sigup-container shadow-lg p-3 mb-5 bg-body rounded"  >
    
    <form class="form-signup" method="POST">

        <h2>LOGIN</h2>

        <div class="mb-3">
            <label class="form-label">Email Address</label>
            <input 
            type="email" 
            class="form-control" 
            id="email" 
            name="email"
            placeholder="Ex. johndoe@example.com"
            required>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password"
            placeholder=""
            required>
        </div>

        
        <br>

        <div class="mb-3 text-center">
            <input type="submit" class="btn btn-primary" value="Login">
        </div>

        <div class="mb-3 text-center">
            <label class="form-label">Dont Have Account? <a href="{{url_for('auth.sign_up')}}">Sign-up</a> </label>
        </div>

    </form>
</div>    


{% endblock %}