<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Title-->
    <title>Login - Ecommerce</title>
    <!--Title-->


    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />

    <!--Fontawesome_script -->
    <script src="https://kit.fontawesome.com/924fff2849.js" crossorigin="anonymous"></script>
    <!--Fontawesome_script -->


</head>

<body>

    <div class="container">
        <!----------Form Container---------->
        <div class="forms-container">

            <div class="signin-signup">

                <!----------SignIn Form---------->
                <form class="sign-in-form" method="post">

                    <h2 class="title">Login</h2>

                    <!--Email Address-->
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="email" 
                                class="form-control" 
                                id="email" 
                                name="email" 
                                placeholder="Enter a email"
                                required>
                    </div>
                    <!--Email Address-->

                    <!--Password-->
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" 
                                class="form-control" 
                                id="password" 
                                name="password"
                                placeholder="Enter a password" 
                                required>
                    </div>
                    <!--Password-->

                    <!--Button-->
                    <input type="submit" class="btn btn-primary" value="Login">
                    <!--Button-->

                </form>
                <!----------SignIn Form---------->

            </div>
        </div>
        <!----------Form Container---------->

        <!----------Panels---------->
        <div class="panels-container">

            <!----------SignUp Panels---------->
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                       BtangSole Ecommerce Website.
                       Don't have an account?
                    </p>
                    <a href="{{url_for('auth.sign_up')}}"><button class="btn transparent" id="sign-up-btn"> Sign up </button></a>
                </div>
                <img src="{{url_for('static', filename = 'other_resources/panel-1.png') }}" class="image" alt="" />
            </div>
            <!----------SignUp Panels---------->

        </div>
        <!----------Panels---------->

    </div>
    </div>

</body>

</html>